<%= headline 'Kontakt' %>

 <div class="content-wrapper">
   <div class="container">
     <div class="half">
       <div class="content">
         <h1>Kontaktieren Sie uns.<br />
             Gerne stehen wir für Ihre Fragen zur Verfügung.</h1>
         <p> 
           <strong>metaminded UG (haftungsbeschränkt)</strong><br />
           Ulmer Str. 124<br />
           73431 Aalen
         </p>
         <p>
           Telefon: +49 7361 589 590 0<br />
           Telefon: +49 7361 589 590 1
         </p>
         <p>
           <a href="mailto:team@metaminded.com">team@metaminded.com</a><br />
           <a href="http://www.metaminded.com">www.metaminded.com</a>
         </p>
         
         <%= simple_form_for @contact, :url => contact_path do |f| %>
          <%= f.input :name, :label => 'Name' %>
          <%= f.input :company, :label => 'Firmenname' %>
          <%= f.input :email, :label => 'E-Mail-Adresse' %>
          <%= f.input :phone, :label => 'Telefonnummer' %>
          <%= f.input :remark, :label => 'Bemerkung', :as => :text %>
          <%= f.submit :value => 'Kontaktanfrage senden' %>
         <% end %>
       </div>
     </div>
     <div class="half">
       <div class="content">
         <h1>Es gibt im Moment in diese Mannschaft</h1>
         <p>Es gibt im Moment in diese Mannschaft, oh, einige Spieler vergessen ihnen Profi was sie sind. Ich lese nicht sehr viele <strong>Zeitungen, aber ich habe gehört viele Situationen</strong>. Erstens: wir haben nicht offensiv gespielt. Es gibt keine deutsche Mannschaft spielt offensiv und die Name offensiv wie Bayern. Letzte Spiel hatten wir in Platz drei Spitzen: Elber, Jancka und dann Zickler. Wir müssen nicht vergessen Zickler.</p>
         <h2>Mehmet eh mehr Basler</h2>
         <p class="last">Zickler ist eine Spitzen mehr, Mehmet eh mehr Basler. Ist klar diese Wörter, ist möglich verstehen, was ich hab gesagt? Danke. Offensiv, offensiv ist wie machen wir in Platz. Zweitens: ich habe erklärt mit diese zwei Spieler: nach Dortmund brauchen vielleicht Halbzeit Pause. Ich habe auch andere Mannschaften gesehen in Europa nach diese Mittwoch. Ich habe gesehen auch zwei Tage die Training. Ein Trainer ist nicht ein Idiot! Ein Trainer sei sehen was passieren in Platz. In diese Spiel es waren zwei, drei diese Spieler waren schwach wie eine Flasche leer! Haben Sie gesehen Mittwoch, welche Mannschaft hat gespielt Mittwoch? Hat gespielt Mehmet oder gespielt Basler oder hat gespielt Trapattoni? Diese Spieler beklagen mehr als sie spielen! Wissen Sie, warum die Italienmannschaften kaufen nicht diese Spieler? Weil wir haben gesehen viele Male solche Spiel! Haben</p>
       </div>
   </div>
 </div>
 
 <div class="content-wrapper">
   <div class="container">
     <div class="third">
       <div class="content">
         <h3>Es gibt im Moment in diese Mannschaft</h3>
         <p class="last">Es gibt im Moment in diese Mannschaft, oh, einige Spieler vergessen ihnen Profi was sie sind. Ich lese nicht sehr viele Zeitungen, aber ich habe gehört viele Situationen. Erstens: wir haben nicht offensiv gespielt. Es gibt keine deutsche Mannschaft spielt offensiv und die Name offensiv wie Bayern. Letzte Spiel hatten wir in Platz drei Spitzen: Elber, Jancka und dann Zickler. Wir müssen nicht vergessen Zickler.</p>
       </div>
     </div>
     <div class="third">
       <div class="content">
         <h3>Es gibt im Moment in diese Mannschaft</h3>
         <p class="last">Es gibt im Moment in diese Mannschaft, oh, einige Spieler vergessen ihnen Profi was sie sind. Ich lese nicht sehr viele Zeitungen, aber ich habe gehört viele Situationen. Erstens: wir haben nicht offensiv gespielt. Es gibt keine deutsche Mannschaft spielt offensiv und die Name offensiv wie Bayern. Letzte Spiel hatten wir in Platz drei Spitzen: Elber, Jancka und dann Zickler. Wir müssen nicht vergessen Zickler.</p>
       </div>
     </div>
     <div class="third">
       <div class="content">
         <h3>Es gibt im Moment in diese Mannschaft</h3>
         <p class="last">Es gibt im Moment in diese Mannschaft, oh, einige Spieler vergessen ihnen Profi was sie sind. Ich lese nicht sehr viele Zeitungen, aber ich habe gehört viele Situationen. Erstens: wir haben nicht offensiv gespielt. Es gibt keine deutsche Mannschaft spielt offensiv und die Name offensiv wie Bayern. Letzte Spiel hatten wir in Platz drei Spitzen: Elber, Jancka und dann Zickler. Wir müssen nicht vergessen Zickler.</p>
       </div>
     </div>
   </div>
 </div>

 <div class="content-wrapper">
   <div class="container">
     <div class="third">
       <div class="content">
          <%= image_tag 'dummy-small.jpg' %>
       </div>
     </div>
     <div class="twothird">
       <div class="content">
         <h3>Es gibt im Moment in diese Mannschaft</h3>
         <p class="last">Es gibt im Moment in diese Mannschaft, oh, einige Spieler vergessen ihnen Profi was sie sind. Ich lese nicht sehr viele Zeitungen, aber ich habe gehört viele Situationen. Erstens: wir haben nicht offensiv gespielt. Es gibt keine deutsche Mannschaft spielt offensiv und die Name offensiv wie Bayern. Letzte Spiel hatten wir in Platz drei Spitzen: Elber, Jancka und dann Zickler. Wir müssen nicht vergessen Zickler. Es gibt im Moment in diese Mannschaft, oh, einige Spieler vergessen ihnen Profi was sie sind.</p>
       </div>
     </div>
   </div>
 </div>

<div class="content-wrapper">
   <div class="container">
     <div class="twothird">
       <div class="content">
         <h3>Es gibt im Moment in diese Mannschaft</h3>
         <p class="last">Es gibt im Moment in diese Mannschaft, oh, einige Spieler vergessen ihnen Profi was sie sind. Ich lese nicht sehr viele Zeitungen, aber ich habe gehört viele Situationen. Erstens: wir haben nicht offensiv gespielt. Es gibt keine deutsche Mannschaft spielt offensiv und die Name offensiv wie Bayern. Letzte Spiel hatten wir in Platz drei Spitzen: Elber, Jancka und dann Zickler. Wir müssen nicht vergessen Zickler. Es gibt im Moment in diese Mannschaft, oh, einige Spieler vergessen ihnen Profi was sie sind.</p>
       </div>
     </div>
     <div class="third">
       <div class="content">
         <%= image_tag 'dummy-small.jpg' %>
       </div>
     </div>
   </div>
 </div>