<%= headline 'catanoa - iPad im ', 'Vertrieb und Außendienst' %>

<div class="content-wrapper">
  <div class="container">
    <div class="twothird">
      <div class="content">
        <h1>Multimediale Kataloge und Lead-Management auf dem iPad</h1>
        <p class="last">catanoa ist die Cloud-basierte iPad-Lösung für Ihren Vertrieb im Tagesgeschäft, auf Messen und Veranstaltungen. Optimieren Sie mit catanoa Ihre Distribution von Verkaufsunterlagen, setzen Sie Ihre Produkte und Dienstleistungen auf dem Trendgerät iPad in Szene und schaffen Sie effiziente Möglichkeiten zur Lead-Erfassung.<br /><br /><strong>Mobile Unternehmenslösungen mit catanoa Cloud-Services - <br />Beeindruckende Vertriebsunterstützung für Ihren Erfolg.</strong></p> 
      </div>
    </div>
    <div class="third">
      <div class="content">
        <h1>&nbsp;<br />&nbsp;</h1>
          <ul>
            <li><strong><%= link_to "Lernen Sie die Funktionen kennen", details_path %></strong></li>
            <li><%= link_to "Broschüre downloaden", '/downloads/catanoa-broschuere.pdf' %>
          </ul>
      </div>
    </div>
  </div>
</div>

<div class="content-wrapper gray">
  <div class="container blue">
    <div class="third blue">
      <div class="content">
        <h3>Jetzt 14 Tage kostenlos testen</h3>
        <p class="last">Testen Sie catanoa Cloud kostenlos und unverbindlich 14 Tage lang. <br /><br /><strong><a href="http://register.catanoa.com">Jetzt registrieren</a></strong></p>
      </div>
    </div>
    <div class="third">
      <div class="content">
        <h3>Broschüre downloaden</h3>
        <p class="last">Laden Sie <%= link_to "hier", '/downloads/catanoa-broschuere.pdf' %> die catanoa Produktbroschüre als PDF Datei herunter. Gerne übersenden wir diese auch <%= link_to "per Post", contact_path %> an Sie.</p>
      </div>
    </div>
    <div class="third blue">
      <div class="content">
        <h3>Sie haben Fragen?</h3>
        <p class="last">Wir die Antworten! Kontaktieren Sie uns gerne telefonisch unter:<br /><br />
          <strong>+49 7361 589 590 0</strong></p>
      </div>
    </div>
  </div>