<table>
  <tr>
    <td>Name: </td>
    <td><%= @contact.name %></td>
  </tr>
  <tr>
    <td>Firmenname: </td>
    <td><%= @contact.company %></td>
  </tr>
  <tr>
    <td>E-Mail-Adresse: </td>
    <td><%= @contact.email %></td>
  </tr>
  <tr>
    <td>Telefonnummer: </td>
    <td><%= @contact.phone %></td>
  </tr>
  <tr>
    <td>Bemerkung: </td>
    <td><%= @contact.remark %></td>
  </tr>
</table>