<html>
  <head>
    <title>catanoa&#x99; - iPad und iPhone in Vertrieb und Außendienst - Lösungen für Messen, Außendienst und Verkauf</title>
    <%= stylesheet_link_tag 'application', :media => 'screen' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= yield :scripts %>
    <script type="text/javascript" src="//use.typekit.net/kmf2bix.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <head>
  <body>
    <div class="head">
      <div class="container">
        <div class="content navigation">
          <ul>
            <%= navigation_item :label => 'Home',                    :item => 'index',      :path => root_path %>
            <%= navigation_item :label => 'Im Detail',               :item => 'details',    :path => details_path %>
            <%= navigation_item :label => 'Individuelle Lösungen',   :item => 'use_cases',  :path => use_cases_path %>
            <%= navigation_item :label => 'FAQ',                     :item => 'faq',        :path => faq_path %>
            <%= navigation_item :label => 'Kontakt',                 :item => 'contact',    :path => contact_path %>
            <%= navigation_item :label => 'Anmeldung',               :item => 'login',      :path => login_path,    :class => 'last' %>
            <%= yield :navigation %>
          </ul>
        </div>
        
        <div class="content">
          <div class="half headline">
            <h1><%= yield :headline %></h1>
          </div>          
          <%= yield :login %>
        </div>        
      </div>
      <div class="stage">
        <div id="slider" class="nivoSlider">
          <%= image_tag 'slider/slider01.jpg', :title => '#slider01_title', 'data-thumb'.to_sym => '/assets/slider/slider01.jpg' %>
          <%= image_tag 'slider/slider02.jpg', :title => '#slider02_title', 'data-thumb'.to_sym => '/assets/slider/slider02.jpg' %>
          <%= image_tag 'slider/slider03.jpg', :title => '#slider03_title', 'data-thumb'.to_sym => '/assets/slider/slider03.jpg' %>
          <%= image_tag 'slider/slider04.jpg', :title => '#slider04_title', 'data-thumb'.to_sym => '/assets/slider/slider04.jpg' %>
        </div>
        <div id="slider01_title" class="nivo-html-caption">Das ist Bild 1. Yeah!</div>
        <div id="slider02_title" class="nivo-html-caption">Das ist Bild 2. Yeah!</div>
        <div id="slider03_title" class="nivo-html-caption">Das ist Bild 3. Yeah!</div>
        <div id="slider04_title" class="nivo-html-caption">Das ist Bild 4. Yeah!</div>

        <div class="container">
          <div class="half">
            &nbsp;
          </div>
        </div>
      </div>
    </div>

    <div class="page-wrapper">
      <div class="container">
        <div class="row-fluid">
          <%= render 'pages/alerts', flash: flash %>
          <%= yield %>
        </div>
      </div>
      
      <%= yield %>
    </div>

    <div class="footer">
      <div class="container">
        <div class="content">
            &copy; provideal GmbH
        </div>
      </div>
    </div>
  </body>
</html>