<html>
  <head>
    <title>catanoa&#x99; - iPad und iPhone in Vertrieb und Außendienst - Lösungen für Messen, Außendienst und Verkauf</title>
    <%= stylesheet_link_tag 'application', :media => 'screen' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= yield :scripts %>
    <script type="text/javascript" src="//use.typekit.net/kmf2bix.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <% if session[:login_visible] %>
      <script type="text/javascript">
        jQuery(function($){
          $("#login_link").css({color: '#29ABE2'});
          $("#login").show();          
        });
      </script>
    <% end %>    
  <head>
  <body>
    <div class="head">
      <div class="container">
        <div class="content navigation">
          <ul>
            <%= navigation_item :label => 'Home',                    :item => 'index',      :path => root_path %>
            <%= navigation_item :label => 'Im Detail',               :item => 'details',    :path => details_path %>
            <%= navigation_item :label => 'Individuelle Lösungen',   :item => 'use_cases',  :path => use_cases_path %>
            <%= navigation_item :label => 'FAQ',                     :item => 'faq',        :path => faq_path %>
            <%= navigation_item :label => 'Kontakt',                 :item => 'contact',    :path => contact_path %>
            <li><a id="login_link">Anmeldung</a></li>
            <%= yield :navigation %>
          </ul>
        </div>
        
        <div class="content">
          <div class="half headline">
            <h1><%= yield :headline %></h1>
          </div>          
          
          <div class="half login" id="login">
            <div class="content">
              <p>
                <strong>Bitte melden Sie sich mit Ihren Zugangsdaten an:</strong>
              </p>
              <form class="simple_form form_vertical" action="http://admin.catanoa.com/sessions" method="post">
                <div>
                  <label>E-Mail/Subdomain:</label>
                  <input type="text" name="email" id="email">
                </div>
                <div>
                  <label>Passwort:</label>
                  <input type="password" name="password" id="password">
                </div>
                <div>
                  <input type="submit" value="Anmelden">
                </div>
              </form>
              <p class="last smalltxt">
                <!-- <a href="#">Ich habe mein Passwort vergessen</a><br/> -->
                <a href="http://register.catanoa.com">Ich möchte mich registrieren</a>
            </div>
          </div>
        </div>        
      </div>
      <div class="stage">
        <div id="slider" class="nivoSlider">
          <%= image_tag 'slider/slider01.jpg', :title => '#slider01_title', 'data-thumb'.to_sym => '/assets/slider/slider01.jpg' %>
          <%= image_tag 'slider/slider02.jpg', :title => '#slider02_title', 'data-thumb'.to_sym => '/assets/slider/slider02.jpg' %>
          <%= image_tag 'slider/slider03.jpg', :title => '#slider03_title', 'data-thumb'.to_sym => '/assets/slider/slider03.jpg' %>
          <%= image_tag 'slider/slider04.jpg', :title => '#slider04_title', 'data-thumb'.to_sym => '/assets/slider/slider04.jpg' %>
          <%= image_tag 'slider/slider05.jpg', :title => '#slider05_title', 'data-thumb'.to_sym => '/assets/slider/slider04.jpg' %>
        </div>
        <div id="slider01_title" class="nivo-html-caption">iPad - Mediathek</div>
        <div id="slider02_title" class="nivo-html-caption">iPad - Produktdetailansicht</div>
        <div id="slider03_title" class="nivo-html-caption">Browser - Redaktionssystem</div>
        <div id="slider04_title" class="nivo-html-caption">iPad - Lead-Management</div>
        <div id="slider05_title" class="nivo-html-caption">iPad - Verschiedene Kataloge</div>

        <div class="container">
          <div class="half">
            &nbsp;
          </div>
        </div>
      </div>
    </div>

    <div class="page-wrapper">
      <div class="container">
        <div class="row-fluid">
          <%= render 'pages/alerts', flash: flash %>
          <%= yield %>
        </div>
      </div>
      
      <%= yield %>
    </div>

    <div class="footer">
      <div class="container">
        <div class="content">
            &copy; provideal GmbH
        </div>
      </div>
    </div>
  </body>
</html>